@font-face {
  font-display: swap;
  font-family: "Formular";
  font-style: normal;
  font-weight: normal;
  src: url("../vendor/fonts/formular-light.eot");
  src: url("../vendor/fonts/formular-light.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/formular-light.woff2") format("woff2"), url("../vendor/fonts/formular-light.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: normal;
  src: url("../vendor/fonts/PPNeueMachina-Regular.eot");
  src: url("../vendor/fonts/PPNeueMachina-Regular.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/PPNeueMachina-Regular.woff2") format("woff2"), url("../vendor/fonts/PPNeueMachina-Regular.woff") format("woff");
}
.page {
  min-width: 414px;
  max-width: 1440px;
  margin: auto;
  background-color: #ecebe8;
  font-family: Formular, "Neue Machina", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 11px 0 0 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #242424;
}

.header__logo {
  margin: 4px 0 11px;
  width: 43px;
  height: 35px;
}

.header__mobile-buttons {
  display: flex;
  padding: 0 0 0 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  cursor: pointer;
}

.header__nav {
  padding: 0px 29px 0 33px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-right: 1px solid #242424;
}

.header__social {
  padding: 0 14px 0 16px;
  display: flex;
  border-right: 1px solid #242424;
}

.header__support {
  display: flex;
  align-items: center;
  padding: 0px 10px 0 13px;
}

.header__link {
  margin: 0;
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  color: #242424;
  text-decoration: none;
}

.header__link_nav {
  font-size: 16px;
  line-height: 22px;
}

.header__link_social {
  font-size: 16px;
  line-height: 18px;
}

.header__link_support {
  font-size: 14px;
  line-height: 17px;
}

.header__link_img {
  visibility: hidden;
  width: 10px;
  height: 24px;
}

.header__link:hover .header__link_img {
  visibility: visible;
}

@media screen and (max-width: 1280px) {
  .header__nav {
    padding: 0px 15px 0 16px;
  }
  .header__social {
    padding: 0 7px 0 8px;
  }
  .header__support {
    padding: 0px 5px 0 7px;
  }
  .header__link_nav {
    font-size: 14px;
    line-height: 20px;
  }
  .header__link_social {
    font-size: 14px;
    line-height: 16px;
  }
  .header__link_support {
    font-size: 12px;
    line-height: 15px;
  }
  .header__link_img {
    width: 8px;
    height: 20px;
  }
}
@media screen and (max-width: 1065px) {
  .header {
    padding: 6px 0 0 24px;
  }
  .header__logo {
    margin: 4px 0 6px;
  }
  .header__nav {
    padding: 0px 11px 0 12px;
  }
  .header__link_nav {
    font-size: 12px;
    line-height: 18px;
  }
  .header__link_social {
    font-size: 12px;
    line-height: 14px;
  }
  .header__link_support {
    font-size: 10px;
    line-height: 13px;
  }
  .header__link {
    padding: 0 0 6px 0;
  }
  .header__link_img {
    width: 6px;
    height: 18px;
  }
}
@media screen and (max-width: 890px) {
  .header__link_nav {
    font-size: 10px;
    line-height: 16px;
  }
  .header__link_social {
    font-size: 10px;
    line-height: 11px;
  }
  .header__link_support {
    font-size: 8px;
    line-height: 11px;
  }
  .header__link_img {
    width: 5px;
    height: 17px;
  }
}
@media screen and (min-width: 769px) {
  .header__mobile-buttons {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 24px 0;
    border-bottom: 0;
    align-items: center;
  }
  .header__nav,
.header__social,
.header__support {
    display: none;
  }
}

.cards__scroll-container {
  display: flex;
  margin: 48px auto 0;
  width: 91.67%;
}

.cards__container {
  display: flex;
  gap: 30px;
}

.card {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.card__rectangle {
  background-color: #b7c09d;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__name {
  font-family: "Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 24px auto 0 24px;
  width: 185px;
}

.card__mobile-block {
  display: none;
}

.card__button-span {
  font-family: "Formular";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.card__mobile-button {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  border-top: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.card__button-svg {
  fill: #242424;
}

.card__mobile-button:hover {
  background-color: #242424;
}
.card__mobile-button:hover .card__button-span {
  color: #ecebe8;
}
.card__mobile-button:hover .card__button-svg {
  fill: #ecebe8;
}

.card__author {
  margin-top: 16px;
  font-family: "Neue Machina";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 115px;
}

.card__location {
  margin-top: 4px;
  font-family: "Formular";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.card__year {
  font-family: "Formular";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 1439px) {
  .cards__container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .card__mobile-block {
    display: block;
  }
  .cards__container {
    flex-wrap: nowrap;
  }
  .cards__scroll-container {
    width: 240px;
    overflow-x: scroll;
  }
  .card__author {
    width: 240px;
  }
}

.about { 
  width: 100%;
}

.about__intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.about__title {
  font-family: "Neue Machina";
  margin: 59px auto 65px 0;
  width: 450px;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.01em;
  color: #242424;
}

.about__button {
  width: 120px;
  height: 32px;
  text-align: right;
  padding-right: 30px;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  margin: 33px auto auto 30px;
  border: 0;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;
  background: url(../../images/arrow-left.svg) no-repeat center right;
}

.about__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.about__text {
  font-family: "Neue Machina";
  margin: 0 auto;
  width: 420px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
}


.about__image{
  display: block;
  width: 100%;
}

.about__project {
  background-color: #b7c09d;
  padding-top: 79px;
  padding-bottom: 120px;
  margin-bottom: 98px;
}

.about__project-title {
  font-family: "Neue Machina";
  margin: 0 auto;
  margin-left: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #242424;
}

.about__project-text {
  font-family: "Neue Machina";
  margin: 0 auto;
  width: 509px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
  color: #242424;
}

@media screen and (max-width: 1065px) {
  .about__title {
    font-size: 60px;
    line-height: 60px;
  }
  .about__text {
    width: 320px;
    margin-right: 60px;
    font-size: 24px;
    line-height: 28px;
  }
  .about__project-title {
    margin-left: 13%;
  }
}
@media screen and (max-width: 855px) {
  .about__project-title {
    margin-left: 13%;
  }
  .about__project-text {
    margin-left: 25%;
  }
}
@media screen and (min-width: 769px) {
  .about__button_header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .about__button {
    visibility: hidden;
  }
  .about__button_header {
    visibility: visible;
    margin: 0;
  }
  .about__intro {
    grid-template-columns: 1fr;
  }
  .about__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 13%;
    margin-bottom: 13px;
  }
  .about__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 36px;
    width: 304px;
    margin-left: 25%;
  }
  .about__project-text {
    width: 304px;
  }
}
@media screen and (max-width: 455px) {
  .about__title {
    width: 330px;
  }
}

.videos__heading {
  margin-top: 98px;
  margin-bottom: 0;
  margin-left: 25%;
  font-size: 40px;
  line-height: 40px;
  max-width: 716px;
}

.videos__container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.videos__scroll-container:nth-of-type(2) {
  max-width: 900px;
}

.videos__scroll-container:nth-of-type(3) {
  max-width: 1380px;
}

.videos__container_single {
  margin-left: 25%;
  display: block;
  max-width: 716px;
  margin-top: 37px;
}

.videos__scroll-container {
  margin: 37px auto 0;
}

.videos__text {
  max-width: 716px;
  margin-top: 55px;
  margin-left: 25%;
}

.video__element {
  width: 420px;
  height: 236px;
  position: relative;
}

.video__element:last-of-type {
  margin-right: 0;
}

.video__element_single {
  width: 716px;
  height: 403px;
  margin-right: 0;
}

.video__image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.video__play-btn {
  background-image: url("../images/VideoPlayBtn.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  position: absolute;
  left: 47%;
  top: 42%;
  display: flex;
  transition: opacity 0.8s ease;
}

.video__play-btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1380px) {
  .videos__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .videos__heading {
    margin: 98px auto 0;
  }
  .videos__container_single {
    margin: 37px auto 0;
    display: block;
  }
  .videos__text {
    margin: 55px auto 0;
  }
}
@media screen and (max-width: 920px) {
  .videos__container {
    position: static;
  }
  .videos__scroll-container {
    display: flex;
    width: 300px;
    height: 170px;
    overflow-x: scroll;
    margin: 45px auto 0;
    position: relative;
  }
  .videos__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .videos__container_single {
    width: 366px;
    margin: 37px auto 0;
    position: static;
    display: block;
  }
  .videos__text {
    width: 366px;
  }
  .video__element {
    width: 300px;
    height: 170px;
  }
  .video__element_single {
    width: 366px;
    height: 210px;
  }
  .videos__heading {
    width: 370px;
    font-size: 28px;
    line-height: 32px;
  }
}
.photo {
  width: 100%;
  padding-top: 145px;
}

.photo__container {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(4, minmax(206px, 1fr));
  gap: 1px;
}

.photo__img {
  width: 100%;
}

@media screen and (max-width: 1110px) {
  .photo__container {
    grid-template-columns: repeat(3, minmax(206px, 1fr));
  }
}
@media screen and (max-width: 870px) {
  .photo__container {
    grid-template-columns: repeat(2, minmax(206px, 1fr));
    row-gap: 2px;
    column-gap: 3px;
  }
}
@media screen and (max-width: 425px) {
  .photo {
    padding-top: 100px;
  }
  .photo__container {
    margin-top: 22px;
  }
}
.performances {
  margin: 0 auto;
  padding: 122px 15px 93px;
}

.performances__row-block {
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding: 56px 0 0 13%;
  overflow: scroll;
}

.performances__cards {
  margin: 75px 0 129px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.perf-card {
  margin: 0 15px 0 0;
  padding: 0;
  min-width: 450px;
  display: grid;
  column-gap: 31px;
  grid-template-columns: 120px 1fr 1fr;
  grid-template-areas: "image date time" "image title title" "image details details" "image info info" "image buttons buttons";
  border-right: 1px solid #242424;
  box-sizing: border-box;
}

.perf-card:last-of-type {
  border-right: none;
  margin: 0;
  padding: 0;
}

.perf-card__image {
  width: 120px;
  height: 161px;
  object-fit: cover;
  grid-area: image;
}

.perf-card__date {
  margin: 0;
  padding: 0;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #242424;
  grid-area: date;
}

.perf-card__date_time {
  margin: 0 0 0 11px;
  grid-area: time;
}

.perf-card__title {
  margin: 4px 0 16px;
  padding: 0;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  color: #242424;
  grid-area: title;
}

.perf-card__details {
  margin: 0 0 0 30px;
  padding: 0;
  width: 240px;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  grid-area: details;
}

.perf-card__info {
  margin: 20px 0 16px;
  padding: 0;
  max-width: 150px;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  grid-area: info;
}

.perf-card__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: buttons;
}

.perf-card__button {
  margin: 0;
  padding: 8px 0;
  width: 154px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 9px;
  border: 0;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  cursor: pointer;
  background-image: linear-gradient(#242424, #242424);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.5s;
  background-color: transparent;
}

.perf-card__button-text {
  margin: 0;
  padding: 0;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: #242424;
  text-align: left;
  transition: all 0.5s;
}

.perf-card__button-arrow {
  fill: #242424;
  transition: all 0.5s;
}

.perf-card__button:hover {
  background-size: 100% 100%;
}
.perf-card__button:hover .perf-card__button-arrow {
  fill: #ecebe8;
}
.perf-card__button:hover .perf-card__button-text {
  color: #ecebe8;
}

@media screen and (max-width: 768px) {
  .performances__cards {
    margin: 34px 0 32px;
  }
  .perf-card {
    margin: 0;
    min-width: 364px;
    column-gap: 29px;
    grid-template-columns: 92px 110px 1fr;
    grid-template-areas: "image date time" "image title title" "image details details" "image info info" "buttons buttons buttons";
    border-right: 0;
  }
  .perf-card__image {
    width: 92px;
    height: 123px;
    object-fit: cover;
    grid-area: image;
  }
  .perf-card__date_time {
    margin: 0 0 0 16px;
  }
  .perf-card__title {
    margin: 16px 0 8px;
    font-size: 28px;
    line-height: 32px;
  }
  .perf-card__details {
    margin: 0;
  }
  .perf-card__info {
    margin: 8px 0 40px;
    padding: 0;
  }
  .perf-card__buttons {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
}
.section-title {
  margin: 0 0 0 25%;
  padding: 0;
  max-width: 450px;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #242424;
}

.section-title_one-perf {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .section-title {
    margin: 0 0 0 13%;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    margin: 0 auto;
    max-width: 358px;
    font-size: 28px;
    line-height: 32px;
  }
}
.persons {
  padding: 123px 0 112px;
}

.persons__container {
  padding-top: 58px;
  padding-left: 17px;
  width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 210px);
  gap: 30px;
}

.person {
  display: grid;
}

.person__img {
  width: 210px;
  height: 265px;
  margin-bottom: 16px;
  object-fit: cover;
  object-position: center;
}

.person__name {
  margin: 0;
  width: 190px;
  word-break: break-all;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
}

.person__about {
  margin: 8px 0 0;
  width: 177px;
  justify-self: end;
  word-break: break-all;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 970px) {
  .persons__container {
    padding-left: 25px;
  }
}
@media screen and (max-width: 930px) {
  .persons__container {
    width: 100%;
    overflow: scroll;
  }
}
@media screen and (max-width: 768px) {
  .persons {
    padding: 100px 0;
  }
  .persons__container {
    padding-top: 24px;
  }
  .person__img {
    filter: grayscale(100%);
  }
}

/*# sourceMappingURL=index.css.map */
