.about{
    width: 100%;
}

.about__intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.about__title{
    font-family: "Neue Machina";
    margin: 59px auto 65px 0;
    width: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: -0.01em;
    color: #242424;   
}

.about__button{
    width: 120px;
    height: 32px;
    text-align: right;    
    padding-right: 30px;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    margin: 33px auto auto 30px; 
    border: 0;    
    border-right: 1px solid #242424;
    border-bottom: 1px solid #242424;
    background: url(../../images/arrow-left.svg) no-repeat center right;   
}

.about__button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.about__text{
    font-family: "Neue Machina";
    margin: 0 auto;
    width: 420px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #242424;
}

.about__image{
    display: block;
    width: 100%;
}

.about__project{
    background-color: #B7C09D;   
    padding-top: 79px;
    padding-bottom: 120px;
    margin-bottom: 98px;
}

.about__project-title {
    font-family: "Neue Machina";
    margin: 0 auto;
    margin-left: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #242424;
}

.about__project-text{
    font-family: "Neue Machina";
    margin: 0 auto;    
    width: 509px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    color: #242424;
}

@media screen and (max-width: 1065px) {
    .about__title{
      font-size: 60px;
      line-height: 60px;
    }
    .about__text{
      width: 320px;
      margin-right: 60px;
      font-size: 24px;
      line-height: 28px;
    }
    .about__project-title{
        margin-left: 13%;
    }
  }

@media screen and (max-width: 855px) {
    .about__project-title{
        margin-left: 13%;
    }
    .about__project-text{
        margin-left: 25%
    }    
}

@media screen and (max-width: 768px){
    .about__button{
        visibility: hidden;
    }
    .about__intro{
        grid-template-columns: 1fr;
    }
    .about__title{        
        font-size: 40px;
        line-height: 40px;
        margin-left: 13%;
        margin-bottom: 13px;
    }
    .about__text{       
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 36px;
        width: 304px;
        margin-left: 25%;
    }
    .about__project-text{
        width: 304px; 
    }    
}

@media screen and (max-width: 455px){
    .about__title{        
        width: 330px;
    }
}