.collab__youtube{
    background-color: #B7C09D;   
    padding-top: 71px;
    padding-bottom: 141px;
    display: grid;  
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    row-gap: 20px;
}

.collab__header{
    justify-self: end;    
}

.collab__text{
    width: 410px;
    height: 84px;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    color: #242424;
    margin: auto 5% auto 25%;
    justify-self: end;
}

.collab__button{
    border: 1px solid #000000;
    width: 298px;
    height: 56px;
    background: url(../../images/collaboration-arrow.svg) no-repeat center right 28px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    grid-row: 2;
}

.collab__button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.collab__contatcs{
    padding-bottom: 169px;
}

.collab__wrapper{
    position: relative;
    margin: 74px 232px 33px auto;
    max-width: 516px;
}

.collab__title{   
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: #242424;
    max-width: 516px;
    margin: 0 auto;
}

.collab__par{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #242424;
    width: 468px;
    height: 120px;
    margin: 0 auto;
    margin-right: 15.5%;
}

.collab__image{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25px;
    left: -30px;
}

@media screen and (max-width: 855px){
    .collab__youtube{
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      column-gap: 16px;
    }
    .collab__header{
      grid-row: 1;
      place-self: center;
    }
  
    .collab__text{    
      height: 112px;
      grid-row: 2;
      place-self: center;
      margin: auto 5% auto 15%;
    }
    .collab__button{
      grid-row: 3;
      place-self: center;
    }  
  }