.page {
  min-width: 414px;
  max-width: 1440px;
  margin: auto;
  background-color: #ecebe8;
  font-family: FormularLight, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
