//Стили заголовков секций
.section-title {
  margin: 0 0 0 $titleMarginLeft;
  padding: 0;
  max-width: $titleWidthMax;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: $dark;
}

// Модификатор для секции Performances
.section-title_one-perf {
  margin: 0;
}

// Адаптив
@media screen and (max-width: 1024px) {
  .section-title {
    margin: 0 0 0 13%;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    margin: 0 auto;
    max-width: $titleWidthMin;
    font-size: 28px;
    line-height: 32px;
  }
}
