$margLeft: 25%;
$margLeft1280: auto;

//Стили для родительских элементов секции

.videos__heading {
  margin-top: 98px;
  margin-bottom: 0;
  margin-left: $titleMarginLeft;
  font-size: 40px;
  line-height: 40px;
  max-width: 716px;
}

.videos__container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.videos__scroll-container:nth-of-type(2) {
  max-width: 900px;
}

.videos__scroll-container:nth-of-type(3) {
  max-width: 1380px;
}

.videos__container_single {
  margin-left: $margLeft;
  display: block;
  max-width: 716px;
  margin-top: 37px;
}

.videos__scroll-container {
  margin: 37px auto 0;
}

.videos__text {
  max-width: 716px;
  margin-top: 55px;
  margin-left: $margLeft;
}

//Стили для элемента видео

.video__element {
  width: 420px;
  height: 236px;
  position: relative;
}

.video__element:last-of-type {
  margin-right: 0;
}

.video__element_single {
  width: 716px;
  height: 403px;
  margin-right: 0;
}

.video__image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

//Стили для кнопки

.video__play-btn {
  background-image: url("../../images/VideoPlayBtn.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  position: absolute;
  left: 47%;
  top: 42%;
  display: flex;
  transition: opacity 0.8s ease;
}

.video__play-btn:hover {
  opacity: 0.5;
}

//Адаптив

@media screen {
  @media (max-width: 1380px) {
    .videos__container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .videos__heading {
      margin: 98px auto 0;
    }

    .videos__container_single {
      margin: 37px auto 0;
      display: block;
    }

    .videos__text {
      margin: 55px auto 0;
    }
  }

  @media (max-width: 920px) {
    .videos__container {
      position: static;
    }

    .videos__scroll-container {
      display: flex;
      width: 300px;
      height: 170px;
      overflow-x: scroll;
      margin: 45px auto 0;
      position: relative;
    }

    .videos__container {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    .videos__container_single {
      width: 366px;
      margin: 37px auto 0;
      position: static;
      display: block;
    }

    .videos__text {
      width: 366px;
    }

    .video__element {
      width: 300px;
      height: 170px;
    }

    .video__element_single {
      width: 366px;
      height: 210px;
    }

    .videos__heading {
      width: 370px;
      font-size: 28px;
      line-height: 32px;
    }
  }
}
