//Переменные цветов
$dark: #242424;
$white: #fff;
$mainBackground: #ecebe8;
$accent: #b7c09d;

//Переменные главных заголовков
$titleMarginLeft: 25%;
$titleWidth589px: 589px;
$titleWidth358px: 358px;
